@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #79FE0C;
    --secondary-color: #2f4c7a;
    --btn-color: #79FE0C;
    --btnhover-color: #fff;
    --general-padding: 20px 10%;
    --medium-padding: 10px 5%;
    --linear: linear-gradient(180deg, var(--btn-color) 0%, var(--secondary-color) 100%);
    --linear-btn: linear-gradient(163deg, var(--btn-color) 50%, var(--secondary-color) 50%);
    --linear-btn-hover: linear-gradient(168deg, var(--secondary-color) 50%, var(--btn-color) 50%);
    --cool: #bfcbfd;
    --linear-bg: linear-gradient(168deg, var(--cool) 50%, var(--btnhover-color) 50%);
    --linear-opp-bg: linear-gradient(168deg, var(--btnhover-color) 50%, var(--cool) 50%);
    --mobile-padding: 5px 2%;
}

body {
    transition: all 1s ease;
    font-family: "Open Sans", sans-serif;
}

.btn {
    width: 200px;
    padding: 10px 0;
    border-radius: 25px;
    border: none;
    outline: none;
    background: var(--linear-btn);
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    transition: all 1s;

}

.btn:hover {
    background: var(--linear-btn-hover);
    border: 1px solid var(--btn-color);
    color: var(--btnhover-color);
}

section {
    min-height: 100vh;
}

section.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.hero div.wrapper {
    /* position: absolute; */
    width: 100%;
    /* border: 1px solid red; */
    height: 100%;
}

section.hero div.wrapper img {
    width: 100%;
    height: 100%;
}

section.hero div.wrapper div.hero-text p {
    /* font-size: 2vmax; */
    /* color: var(--secondary-color); */
    color: black;
    text-shadow: 2px 2px 2px var(--cool);
}

section.hero div.wrapper div.hero-text h1 {
    color: black;
    font-size: 35px;
    /* color: var(--secondary-color); */
    text-shadow: 2px 2px 2px var(--cool);
}

section.hero div.wrapper div.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

section.provide {
    width: 100%;
    background: var(--cool);
    height: 100vh;
    padding-bottom: 20px;
}

section.provide div.wrapper {
    width: 100%;
    padding: var(--general-padding);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section.provide div.wrapper div.info h2 {
    font-size: 4.5vmax;
    margin-bottom: 40px;
}

section.provide div.wrapper div.info p {
    font-size: 20px;
    margin-bottom: 40px;
}

section.provide div.wrapper div.info {
    width: 100%;
    text-align: center;
}

section.offer {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    background: var(--linear);
    min-height: 100vh;
}

section.offer h2 {
    font-size: 2.4vmax;
}

section.offer div.box-container {
    width: 100%;
    padding: var(--general-padding);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section.offer div.box-container div button {
    width: 100%;
}

section.offer div.box-container div {
    width: 30%;
    text-align: left;
    background: var(--linear-opp-bg);
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
}

section.offer div.box-container div img {
    width: 100%;
    border-radius: 4%;
}

section.offer div.box-container div h3,
section.offer div.box-container div p,
section.offer div.box-container div h5 {
    margin: 10px 0;
}
footer{
    text-align: center;
    background-color: var(--cool);
    color: var(--secondary-color);
}
footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    align-items: center;
    gap: 20px;
    /* padding: var(--general-padding); */
    text-align: left;
}
footer .box-container .box p{
    width: 70%;
}

footer .box-container .box h3 {
    display: block;
    padding: 1rem 0;
}

footer .box-container .box p {
    display: block;
    padding: .5rem 0;
    color: var(--secondary-color);
}

@media screen and (max-width:979px) {
    footer{
        padding: var(--medium-padding);
    }
    section.offer div.box-container {
        padding: var(--medium-padding);
    }

    section.provide div.wrapper {
        padding: var(--medium-padding);
    }
}

@media screen and (max-width:830px) {
    section.offer div.box-container {
        padding: var(--mobile-padding);
    }
    footer{
        padding: var(--mobile-padding);
    }
    section.provide div.wrapper {
        padding: var(--mobile-padding);
    }
}

@media screen and (max-width:750px) {
    section.offer div.box-container {
        padding: var(--mobile-padding);
    }

    section.offer div.box-container div {
        width: 45%;
    }
}

@media screen and (max-width:520px) {
    section.offer div.box-container div {
        width: 75%;
    }
}

@media screen and (max-width:300px) {
    section.offer div.box-container div {
        width: 100%;
    }
}